* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(./images/patt.png);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.menu {
  display: flex;
  position: relative;
}

.menu li {
  width: 100%;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child {
  border-right: 1px solid #2c71b8;
}

.menu a {
  display: block;
  height: 50px;
  text-decoration: none;
  color: #2c71b8;
  text-align: center;
  line-height: 50px;
  font-size: 21px;
}

.menu a:hover {
  background-color: #2c71b8;
  color: white;
}

.menu_child>ul {
  display: none;
  position: absolute;
}

.menu_child:hover .drop_menu {
  display: block;
  position: absolute;
  background-color: #2b71b7;
  color: white;
}

.menu_child .angle_icon {
  height: 15px;
}

.menu_child .angle_icon:hover {
  display: block;
}

.drop_menu {
  display: none;
  position: absolute;
  margin-left: -1px;
}

.drop_menu>li {
  display: block;
}

.drop_menu>li>a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #2b71b7;
}

.drop_menu>li>a:hover {
  background-color: white;
  color: #2c71b8;
}

.search {
  position: relative;
  width: 200px;
}

.search input {
  color: #2c71b8;
  width: 100%;
  height: 40px;
  padding-left: 10px;

  border: 1px solid #2c71b8;
  outline: none;
}

.search button {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 24px;
  height: 24px;
  border: none;
  background: #2c71b8;
  cursor: pointer;
}

::placeholder {
  color: #2c71b8;
  font-size: 21px;
}

.basket {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #fff;
  padding: 8px 10px;
  margin-left: 30px;
}

.basket_number {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background-color: #2b71b7;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 3px;
  top: -6px;
  right: -40px;
}
/* Header End */


/* Main Start */
.slider_wrap {
  height: 400px;
  border-bottom: 2px solid white;
}

.slider_container {
  max-width: 1200px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 160px 15px 0 15px;
}

.slider{
  position: relative;
}

.slider>div {
  font-size: 100px;
  color: white;
  text-align: center;
}

.slider .slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 30px;
  height: 50px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(./images/slider_back.png) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(./images/slider_forward.png) 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider .slick-dots li {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 0;
}

.slider .slick-dots li.slick-active {
  background-color: white;
}

.slider .slick-dots li.slick-active button:before {
  color: #000;
}

.slider .slick-dots li button {
  display: none;
}

.slick-dots li.slick-active button:before{
  color: white;
}


.main_container {}

.content_wrap {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* aside */

.aside_wrap {
  max-width: 25%;
  flex: 0 0 25%;
}

.aside {
  height: 850px;
  width: 270px;
  background-color: #568dc6;
  border-right: 1px solid #fefeff;
  box-shadow: inset 5px 0 5px -5px #29627e;
  margin-right: 15px;
}

.device_type {
  padding: 30px 30px 0 30px;
}

.device_type_square {
  display: none;
}

.device_type_square+label {
  display: flex;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  margin: 5px 0px;
}

.device_type_square:checked+label {
  background: white;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  color: white;
  margin-bottom: 24px;
}

label {
  color: white;
  font-size: 21px;
  font-weight: lighter;
}

.radio_span {
  margin-left: 25px
}

.device_type_p {
  font-size: 21px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.aside_btn {
  width: 210px;
  height: 50px;
  background-color: #2c71b8;
  color: white;
  border: 1px solid white;
  font-size: 21px;
  font-weight: bold;
  margin-left: 30px;
}

/* products */

.products_wrap {
  max-width: 75%;
  flex: 0 0 75%;
}

.products_wrap_title {
  position: relative;
}

.products_wrap_title p {
  font-size: 14px;
  color: #7ba6d3;
  padding: 30px 0 20px 0;

}

h1 {
  font-size: 48px;
  font-weight: bold;
  align-items: center;
  color: white;
  /* padding: 0 0 60px 0; */
}

/* Sort list start */
.sort_list {
  display: flex;
  position: relative;
  justify-content: flex-end;
  bottom: 40px;
}

.sort_list a {
  display: block;
  width: 270px;
  height: 38px;
  font-size: 21px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.sort_list a:hover {
  background-color: #2c71b8;
  color: white;
}

.sort_price_child {
  border: 1px solid white;
  background: #2c71b8;
  color: white;
}

.sort_price_child a {
  display: flex;
  align-items: center;
}

.sort_price_child>ul {
  display: none;
  position: absolute;
}

.sort_price_child:hover .sort_price_drop {
  display: block;
  position: absolute;
  background-color: #2b71b7;
  color: white;
  border: 1px solid white;
  right: 0;
  z-index: 1;
}

.sort_price_child .angle_icon_sort {
  height: 15px;
  position: absolute;
  top: 12px;
  right: 10px;
}

.sort_price_child .angle_icon_sort:hover {
  display: block;
}

.sort_price_drop {
  display: none;
  position: absolute;
}

.sort_price_drop>li {
  display: block;
}

.sort_price_drop>li>a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #2b71b7;
}

.sort_price_drop>li>a:hover {
  background-color: white;
  color: #2c71b8;
}

/* Sort list End */

.products_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_card {
  width: 270px;
  height: 654px;
  border: 1px solid #cadbed;
  background-color: #2c71b8;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card_bg_img {
  width: 270px;
  height: 180px;
  background-color: #cadbed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.main_card p {
  font-size: 21px;
  color: white;
  padding: 0;
  line-height: 1;
  margin-bottom: 20px;
  margin-left: 15px;
}

.main_card p span {
  font-weight: bold;
}

.price {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price span {
  font-size: 24px;
  vertical-align: 0.6em;
}

.btn_styles {
  width: 210px;
  height: 48px;
  display: block;
  margin: 12px auto;
  color: white;
  font-size: 21px;
  text-transform: uppercase;
}

.btn_styles:hover{
  background: white;
  color: #2c71b8;
  transition: 0.5s;
}

.btn_style1 {
  background: #2c71b8;
  border: 1px solid white;
}

.btn_style2 {
  background: #558dc5;
  border: none;
}

.card_icon_size {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #538cc5;
}

.card_icon_love {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 10px;
  border: 1px solid #538cc5;
  cursor: pointer;
}
.love_hover{
  display: none;
}
.card_icon_love:hover {
  background: #538cc5;
}

.card_icon_love:hover .love_icon{
  display: none;
}

.card_icon_love:hover .love_hover{
  display: block;
}
.card_icon_love.active {
  background: #538cc5;
}

.card_icon_love.active .love_icon {
  display: none;
}

.card_icon_love.active .love_hover {
  display: block;
}

.card_load {
  font-size: 36px;
  color: white;
  text-align: center;
}

.load_more {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

/* Modal Window */

.modal_window{
  display: none;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  position: fixed;
  top: 80px;
        
  left: 0;
  right: 0;
  margin: auto;
  z-index: 8;
}

.close_modal_wrap{
  float: right;
}

.close_modal_wrap::after {
  content: "";
  display: block;
  clear: both;
}

.close_modal_btn {
  display: block;
  margin: 10px;
  width: 30px;
  height: 30px;
  background-image: url(./images/btn_close.png);
  background-size: contain;
  cursor: pointer;
}

.modal_window p{
  font-size: 24px;
  color: #2c71b8;
  margin: 40px 0 50px 40px;
  font-weight: 700;
}

.form_field input{
  margin-bottom: 30px;
  padding: 10px;
  border:2px solid #2c71b8;
}

::placeholder{
  font-size: 14px;
  color: #2c71b8;
}

.modal_btn_send{
width: 50%;
height: 30px;
font-weight: 700;
background:#2c71b8;
border: none;
color: white;
font-size: 16px;
margin-top: 10px;
}
.modal_btn_send:hover{
  background: white;
  color:#2c71b8;
  font-weight: 700;
  transition: 0.5s;
}

.modal_overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(69, 69, 69, 0.65);
}


/* Product End */

/* Footer Start */
.footer {
  height: 100px;
  width: 100%;
  font-size: 21px;
  color: #2c71b8;
  text-align: center;
  line-height: 100px;
  background-color: #cadbed;
  align-items: center;
  margin: 0 auto;
}